# ==============================================================================
# ЗАВИСИМОСТИ ДЛЯ ПАРСЕРА И СБОРА ДАННЫХ (PARSER)
# ==============================================================================

-r requirements.txt

# Разбор HTML/XML структуры и извлечение данных из DOM-дерева
beautifulsoup4==4.12.3

# Автоматизация полноценного браузера (для сайтов с динамическим JS)
playwright==1.62.0
